<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/publicdescription.css') }}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Item Catalog</title>
</head>
<body>
<header class="header-container">
<h1 class="catalog-app"><a href='{{url_for('categories')}}'>Catalog App</a></h1>
<div class="login"><a href='{{url_for('login')}}'><button class="w3-button w3-red" type="button">Log In</button></a></div>
</header>
<!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="description">
    <h4 class="subheading"><strong>{{item.name}}:</strong></h4>
    <p class="content">{{item.description}}</p>
</div>

</body>
</html>